<div class="row">
  <div class="col-xxl-5"></div>
  <div class="col-xxl-2">
    <select class="form-control">
      <option>Agent</option>
      <option>Gomel</option>
      <option>Brest</option>
      <option>Grodno</option>
      <option>Mogilev</option>
    </select>
  </div>
  <div class="col-xxl-2">
    <select class="form-control">
      <option>All</option>
      <option>Enumerator 1</option>
      <option>Enumerator 2</option>
      <option>Enumerator 3</option>
      <option>Enumerator 4</option>
    </select>
  </div> 
  <div class="col-xxl-3">
    <select class="form-control">
      <option>Last 30 days</option>
      <option>last 10 days</option>
    </select>
  </div>
</div>
<br>
<div class="">
  <!-- <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-6">
        <ngx-profit-card></ngx-profit-card>
      </div>
      <div class="col-md-6">
        <ngx-earning-card></ngx-earning-card>
      </div>
    </div>

    <ngx-traffic-reveal-card></ngx-traffic-reveal-card>
  </div> -->

  <div class="">
    <!-- <ngx-ecommerce-charts></ngx-ecommerce-charts> -->
    <ngx-country-orders></ngx-country-orders>

  </div>
  <!-- <div class="col-xxl-3">
  <ngx-list></ngx-list>
  </div> -->
</div>

<div class="row">
  <div class="col-xxl-4">
      <ngx-echarts></ngx-echarts>
      
  </div>

  <div class="col-xxl-8">
    <ngx-smart-table></ngx-smart-table>
    <!-- <ngx-progress-section></ngx-progress-section> -->
  </div>
</div>
<!-- 
<div class="row">
  <div class="col-xxl-9">
    <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>
  </div>

  <div class="col-xxl-3">
    <ngx-user-activity></ngx-user-activity>
  </div>
</div> -->
